<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta name="author" content="Nome Cognome" />
	<title>img</title>
	<style type="text/css">
		html{
			height:100%;
		}
		body{
			background-color: rgb(235,235,235);
			margin: 3em 2em;
		}
	</style>

</head>
<body>

	<img />

	<script type="module">

		const sequenza = [
			"img/0000.png",
			"img/0001.png",
			"img/0002.png",
			"img/0003.png",
			"img/0004.png",
			"img/0005.png",
			"img/0006.png",
			"img/0007.png",
			"img/0008.png",
			"img/0009.png",
			"img/0010.png",
			"img/0011.png",
			"img/0012.png",
			"img/0013.png",
			"img/0014.png",
			"img/0015.png",
			"img/0016.png",
			"img/0017.png",
			"img/0018.png",
			"img/0019.png",
			"img/0020.png",
			"img/0021.png",
			"img/0022.png",
			"img/0023.png",
			"img/0024.png",
			"img/0025.png",
			"img/0026.png",
			"img/0027.png",
			"img/0028.png",
			"img/0029.png",
			// ----------------------
			"img/0029.png",
			"img/0028.png",
			"img/0027.png",
			"img/0026.png",
			"img/0025.png",
			"img/0024.png",
			"img/0023.png",
			"img/0022.png",
			"img/0021.png",
			"img/0020.png",
			"img/0019.png",
			"img/0018.png",
			"img/0017.png",
			"img/0016.png",
			"img/0015.png",
			"img/0014.png",
			"img/0013.png",
			"img/0012.png",
			"img/0011.png",
			"img/0010.png",
			"img/0009.png",
			"img/0008.png",
			"img/0007.png",
			"img/0006.png",
			"img/0005.png",
			"img/0004.png",
			"img/0003.png",
			"img/0002.png",
			"img/0001.png",
			"img/0000.png",
		]

		let frame = 0

		setInterval(() => {
			const img = document.querySelector("img")
			img.src = sequenza[frame]
			frame = (frame + 1) % sequenza.length
		}, 20)

	</script>
</body>
</html>